[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
flask = "*"
line-bot-sdk = "*"
gunicorn = "*"
gspread = "*"
pandas = "*"
oauth2client = "*"
python-dotenv = "*"
mojimoji = "*"

[dev-packages]

[requires]
python_version = "3.8"
